#container_with_game{
    width: 400px;
    height: 630px;
    text-align: right;

}

#container_with_state{
    /*dummy*/
}

#canvas{
}

#restart{
    position: relative;
}


element.style {
}

body
{
    background-color: #454545;
    font: 81.25%/1.46 Arial, Helvetica, sans-serif;
    color: #FFF;
}


P { text-align: center }
