p {margin-top: 0;}

#container_with_game{
    width: 600px;
    height: 600px;
    text-align: right;

}

#container_with_state{
    /*dummy*/
}

#canvas{
}

.page-center {

}

#right-column {
    display: block;
    left: 600px;
    position: relative;
    width: 560px;
    bottom: 580px;
}

.description {
    margin: 0 -118px 30px 0;
    width: 640px;
    font: 11pt/19pt Arial, Helvetica, sans-serif;
    color: #FFF;
}

.new-game {
    position: relative;
    left: 0px;
    margin: 0 170px 100px 0;
}

.play {
    position: relative;
    left: 0px;
    margin: 0 170px 100px 0;
    bottom: 50px;
}

body
{

    background: url(page-bgr.png) #454545;
    font: 24pt Arial, Helvetica, sans-serif;
    color: #FFF;
}






