body {
    background: url(page-bgr.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* container */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
}
.container__canvas {
    width: 600px;
    height: 600px;

    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 10px;
}
.container__r-side {
    width: 100%;
    max-width: 600px;
}
/* END container */


/* r-side */
.r-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.r-side__headline {
    padding-bottom: 55px;
}
.r-side__game-menu {}
/* END r-side */


/* headline */
.headline {
    text-align: center;
    color: #fff;
}
.headline__title {
    padding-bottom: 25px;
    font-family: Arial, sans-serif;
    font-size: 36px;
}
.headline__subtitle {
    font-family: Arial, sans-serif;
    font-size: 24px;
}
/* END headline */


/* game-menu */
.game-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 330px;
}
.game__menu__small-ball {}
.game-menu__button {}
.game-menu__score {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}
/* END game-menu */


/* button */
.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
.button__new-game {}
.button__play {}
/* END button */


/* new-game */
.new-game{}
.new-game__img {
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.new-game__img:hover {
    transform: scale(1.3);
}
/* END new-game */


/* play */
.play {}
.play__img {
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.play__img:hover {
    transform: scale(1.3);
}
/* END play */


@media screen and (max-width: 1024px) {
    .container {
        max-width: 600px;
        flex-wrap: wrap;
    }
    .r-side {
        margin-top: 50px;
    }
}
